
*{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: "Helvetica", Sans-Serif;
    box-sizing: border-box;
    --color-background:#b8edff;
    --color-blue:#47a6d2;
    --color-green:#60bd64;
    --color-yellow:#faa73f;
    --color-red:#e76762;
}

body{
    display:flex;
	flex: 1 1 auto;
	flex-direction:column;
	width:100%;
	height:100%;
    background: var(--color-background);

}

.container{
	display: flex;
	flex: 1 1 auto;
    flex-direction: column;
	margin:0;
	border:0;
	touch-action: manipulation;
	
}



#display{
    display: flex;
    flex:0 1 auto;
    justify-content: center;
    min-height: 2rem;
    padding: 0rem 0 0rem 0;

}

#display-number{
	display:flex;
	flex: 1 1 auto;
    justify-content:flex-end;
	align-items:center;
    overflow: hidden;
    height: 5rem;
    letter-spacing: 0.2rem;
    margin: 0.5rem; 
	padding:0 0.5rem;
    background: white;
    border-radius: 20px;
}
.keypad{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
	
}
.row{
    display: flex;
	flex: 1 1 auto;
    justify-content: center;
    align-content: start;
    align-items: stretch;
}

.number:nth-child(1){background: var(--color-blue);}
.number:nth-child(2){background: var(--color-green);}
.number:nth-child(3){background: var(--color-yellow);}

button{
    outline:none !important;
    background: none;
    color: inherit;
    font: inherit; 
	touch-action: manipulation;
}

button:focus{
    outline: none !important;
	touch-action: manipulation;
}

.number{
    display:flex;
	flex: 1 1 auto;
	margin: 0.5rem; 
    padding: 0.2rem;
	justify-content:center;
    border: 1pt solid;
    border-radius: 15pt;
    min-width: 2.5rem;
    text-align: center;
    border:2pt solid white;
	
	touch-action: manipulation;
}

.number.hidden{
    visibility: hidden;
}

.number:active{
    background-color: black;
    color: white;
    outline: none;
	touch-action: manipulation;
}

#backspace{
    background: var(--color-red);
}

.clear{
	animation-name: shake;
	animation-duration: 0.7s;
	animation-iteration-count: 2;
	animation-timing-function: ease-in;  
}



@keyframes shake {
  0% {transform: translateX(0);}
  10% {transform: translateX(-3px);}
  20% {transform: translateX(5px);}
  30% {transform: translateX(-8px);}
  40% {transform: translateX(8px);}
  50% {transform: translateX(-5px);}
  60% {transform: translateX(3px);}
  70% {transform: translateX(0);}
}



/* Media queries */


@media only screen and (max-height: 600px) {

	*{font-size: 1.5rem;}

	#display{flex:1 1 auto;
	}
	
	#display-number {
		height: 3rem;
		margin: 0.5rem 0.5rem 0rem 0.5rem;
	}

	.number{margin: 0.2rem 0.5rem;}   
}

/* Phone portraint mode */
@media only screen and (max-width: 400px) {

	*{font-size: 1.5rem;}
	
	#display-number {
		height: 3rem;
		margin: 0.5rem 0.25rem 0rem 0.25rem;
	}

	.number{margin: 0.2rem 0.25rem;}   
}







